.single-header {
  height: 400px;
  background-blend-mode: multiply;
  margin-bottom: 17px;
}

.single-header__blog {
  height: 440px;
}

.single-header__title {
  padding-top: 14%;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
}

.bread {
  font-size: 14px;
}

.bread a {
  text-decoration: none;
}

.bread .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread-wrap__item {
  display: block;
}

.bread-wrap__separator {
  margin: 0 .5em;
}

.bread .category-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bread .category-wrap__item {
  border-left: solid 1px #d0c8c8;
  padding: 0 .75em;
  color: #545759 !important;
  margin-bottom: .5em;
}

.bread .category-wrap__item:first-child {
  border-right: solid 1px #d0c8c8;
}

.bread .category-wrap__share {
  margin-top: -.75em;
  margin-left: .5em;
  cursor: pointer;
}

.bread .category-wrap__hot {
  font-size: 20px;
  line-height: 34px;
  margin-right: 35px;
}

.blog-content {
  margin: 42px 0;
  color: #545759;
}

.blog-content__wrap--title {
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}

.blog-content__wrap--exception {
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  margin: .25em 0;
  text-transform: none;
}

.blog-content__wrap--meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-top: -2em;
}

.blog-content__wrap--meta .author {
  border-right: solid 1px #545759;
  padding-right: .5em;
  margin-right: .5em;
}

.blog-content__wrap--content {
  margin: 16px 0;
}

.blog-content__wrap--content h1, .blog-content__wrap--content h2, .blog-content__wrap--content h3, .blog-content__wrap--content h4, .blog-content__wrap--content h5, .blog-content__wrap--content h6 {
  margin: 6px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}

.blog-content__wrap--content p {
  font-size: 16px;
  line-height: 23px;
}

.blog-content__wrap--content tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-content__wrap--content tr td:first-child {
  width: 65%;
}

.blog-content__wrap--content tr td:nth-child(2) {
  padding-top: 1.25em;
  width: 34%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog-content__wrap--content tr td:nth-child(2) figure {
  margin: 0;
}

.blog-content__recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 65px;
}

.blog-content__recent--title {
  margin: 120px 0 50px;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  width: 100%;
}

.blog-content__recent--item {
  width: 49%;
  margin-bottom: 2em;
}

.blog-content__recent--item .single-img {
  height: 225px;
  width: 100%;
}

.blog-content__recent--item .single-meta {
  margin-top: 30px;
  font-size: 14px;
}

.blog-content__recent--item .single-title {
  font-size: 20px;
  line-height: 34px;
  margin: .5em 0;
  font-weight: 500;
}

.blog-content__recent--item .single-exception {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}

.blog-content__recent .blog-page__item:first-child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-content__recent .blog-page__item:first-child .longer {
  width: 49%;
  height: 390px;
}

.blog-content__recent .blog-page__item:first-child .longer .single-img {
  width: 100%;
  height: 100%;
}

.blog-content__recent .blog-page__item:first-child .longer2 {
  width: 49%;
}

.back1 {
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}

.custom-btn1 {
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 999;
  top: 20%;
}

.swiper-button-next1 {
  position: absolute;
  right: 2%;
  background: url("../img/next1.svg") no-repeat center center/contain;
}

.swiper-button-prev1 {
  position: absolute;
  left: 0;
  background: url("../img/prev1.svg") no-repeat center center/contain;
}

.custom-swiper1 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #7b7b7b;
}

.custom-swiper1 .pagination-bullet-active {
  background: #404040;
}

.custom-swiper1 .swiper-pagination {
  margin-bottom: -1em;
}

.custom-swiper1 {
  padding-left: 5%;
  padding-bottom: 3.75em;
}

body {
  overflow-x: hidden;
}

@media (max-width: 991px) {
  .bread .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bread-wrap {
    width: 100%;
    margin-bottom: .5em;
  }
  .bread .category-wrap {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .bread .category-wrap__hot {
    width: 100%;
  }
  .blog-content__wrap--content table tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-content__wrap--content table tr td {
    width: 100% !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .blog-content__recent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-content__recent--item {
    width: 100%;
    margin-bottom: 1em;
    display: block !important;
  }
  .blog-content__recent--item .longer, .blog-content__recent--item .longer2 {
    width: 100% !important;
  }
  .blog-content__recent--item .longer {
    height: 225px !important;
  }
  .blog-content__recent--item .single-img {
    height: 225px !important;
  }
  .custom-swiper1 {
    padding-left: 0;
    padding-bottom: 0;
  }
  .custom-swiper1 .technologies__img-wrap {
    margin: 0 auto !important;
  }
  .custom-swiper1 .technologies__content {
    padding-right: 0 !important;
    text-align: center !important;
    margin: 1em 0 !important;
  }
  .tech-block1-wrapper .tech_description {
    padding-right: 0 !important;
  }
  .tech-benefits-wrapper {
    margin-top: 8em !important;
  }
  .tech-benefits-wrapper .tech-benefits-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tech-benefits-wrapper .tech-benefits-block .tech-benefits-icons {
    margin-bottom: 3em !important;
  }
  .howitworks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .howitworks .howitworks_description {
    width: 100% !important;
  }
  .bread-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .technologies--page .bread {
    margin-top: -2em !important;
  }
}
