p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 7px 35px 0 0;
	font-size: 23px;
	
	@media (max-width: 991.98px) {
		margin: 0;
		font-size: 20px;
		line-height: 1.4;
		position: relative;
	}

	&:before {
		width: 22px;
		height: 18px;
		content: '';
		background-image: url('./img/icon-blockquote-start.svg');
		display: block;
		margin-bottom: 6px;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	@media (max-width: 991.98px) {
		&>*:first-child {
			&:before {
				width: 22px;
				height: 18px;
				content: '';
				background-image: url('./img/icon-blockquote-start.svg');
				display: inline-block;
				margin-top: -6px;
				margin-right: 6px;
			}
		}
	}

	&>*:last-child {

		@media (max-width: 991.98px) {
			margin-bottom: 0;
		}

		&:after {
			content: '';
			width: 22px;
			height: 18px;
			display: inline-block;
			background-image: url('./img/icon-blockquote-end.svg');
			transform: translate(-80%, 180%);

			@media (max-width: 991.98px) {
				transform: none;
				margin-bottom: -6px;
				margin-left: 6px;
			}
		}
	}
	
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
