h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-size: 40px;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
	text-transform: uppercase;

	@media (max-width: 991.98px) {
		font-size: 32px;
		margin-bottom: 14px;
		line-height: 1.3;
	}
}

h2 {
	font-size: 34px;
	letter-spacing: 0.015em;
	text-transform: uppercase;
	margin-bottom: 16px;
	line-height: 1.3;
	
	@media (max-width: 991.98px) {
		font-size: 27px;
		margin-bottom: 5px;
	}
}

h3 {
	font-size: 23px;
	margin-bottom: 20px;
	line-height: 1.2;
	
	@media (max-width: 991.98px) {
		font-size: 19px;
		margin-bottom: 0px;
		line-height: 1.5;
	}
}

h4 {
	font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
}