button:not(.nav__burger):not(.gm-ui-hover-effect),
input[type="button"],
input[type="reset"],
input[type="submit"],
button:not(.gm-ui-hover-effect),
.btn {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;

    font-size: 18px;
    color: #ff0000;

    &:hover, &:focus {
        color: #ff0000;
        opacity: 0.82 !important;
        transition-property: auto;

         &:after {
             transform: translateX(5px);
         }

         &:before {
             transform: rotate3d(0, 1, 0, -180deg);
         }
	}
	
	&:active {
		opacity: 0.82;
	}

    &:before {
        width: 14px;
        height: 28px;
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
        background: #ec1d24;
        display: inline-block;
        content: '';
        margin-right: 6px;
        transition: .3s;
    }

    &:after {
        content: '\003E';
        display: inline-block;
        margin-left: 7px;
        transition: ease-in-out .3s transform;
        will-change: transform;
    }
}
