input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	color: #545759;
	border: 1px solid #fff;
	background-color: #fff;
	border-radius: 5px;
	padding: 4px;
	width: 100%;

	&:hover {
		border-color: #545759;
	}
	&:focus {
		border-color: #f00;
	}
}

select {
	width: 100% !important;
}

textarea {
	width: 100% !important;
	min-height: 79px;
    resize: none;
}
input[type="checkbox"] {
	visibility: hidden;
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
}
input[type="checkbox"]+span {
	margin-left: 37px !important;
    font-size: 13px;
}