$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1220px
);

$grid-gutter-width: 20px !default;

.row--large-gutters {
	margin: 0 -25px;
	flex-wrap: nowrap !important;

	[class^="col-"] {
		padding: 0 25px;
	}
}