@font-face {
    font-family: "Ploni DL AAA";
    src: url("fonts/ploni-regular-aaa-webfont.woff2") format("woff2"),
    url("fonts/ploni-regular-aaa-webfont.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Ploni DL AAA";
    src: url("fonts/ploni-medium-aaa-webfont.woff2") format("woff2"),
    url("fonts/ploni-medium-aaa-webfont.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "Ploni DL AAA";
    src: url("fonts/ploni-bold-aaa-webfont.woff2") format("woff2"),
    url("fonts/ploni-bold-aaa-webfont.woff") format("woff");
    font-weight: 700;
}

// stylelint-disable value-keyword-case
$font__main: 'Ploni DL AAA', sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
