.advantages {

    &__row {
        padding: 48px 0 60px;
        margin: 0 -35px;

        @media (max-width: 1300px) {
            margin: 0 (-$grid-gutter-width);
        }

        @include media-breakpoint-down(md) {
            padding-top: 16px;
            padding-bottom: 22px;
        }

        @include media-breakpoint-down(xs) {
            margin: 0;
        }
    }

    &__item {
        color: #ff0000;
        transition: .3s ease-in-out;
        transition-property: transform, padding;
        padding: 50px 0;

        &:hover {
            padding: 0;
        }
        
        @include media-breakpoint-down(md) {
            padding: 13px 0 !important;
        }

    }

    &__title {
        padding: 0 65px;
        position: relative;
        min-height: 54px;

        &:after {
            width: 0;
            height: 5px;
            content: '';
            display: block;
            background-color: #ff0000;
            margin: -10px auto 10px;
            transition: ease-in-out .3s width;
            
            @include media-breakpoint-down(md) {
                transition-property: width, margin;
            }
        }

        @include media-breakpoint-down(md) {
            padding: 0;
            padding-top: 3px;
            min-height: 0;

            > * {
                font-size: 18px;
                line-height: 1.3;
            }
        }
    }

    &__item:hover &__title {

        &:after {
            width: 15px;

            @include media-breakpoint-down(md) {
                margin-top: 10px;
            }
        }
    }

    &__item:hover &__text {
        height: 100px;
        opacity: 1;
    }

    &__icon-wrap {
        min-height: 111px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        @include media-breakpoint-down(md) {
            position: relative;
            min-height: 90px;
            margin-bottom: 8px;
        }
    }

    &__icon {
        display: block;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            position: absolute;
        }
    }

    &__text {
        height: 0;
        overflow: hidden;
        color: #545759;
        transition: .3s ease-in-out;
        transition-property: height, opacity;
        opacity: 0;
            
        @include media-breakpoint-down(md) {
            // height: auto !important;
            // opacity: 1;
        }
    }
}