.categories {
    padding: 20px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 770px;

    @include media-breakpoint-down(lg) {
        grid-auto-rows: 312px;
        grid-template-columns: 1fr;
    }

    @include media-breakpoint-down(md) {
        gap: 14px;
        padding-top: 0;
        padding-bottom: 15px;
    }
    
    &__item {
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 40px;
        text-decoration: none;

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            display: block;
            background-color: rgba(0,0,0, 0.5);
            z-index: 1;
            top: 0;
            left: 0;
            transition: ease-in-out .3s background-color;
        }

        &:hover {
            &:before {
                background-color: rgba(0,0,0, 0.28);
            }
        }

        @include media-breakpoint-down(md) {
            padding: 16px;
        }
    }

    &__item:hover &__title:before {
        transform: rotate3d(0, 1, 0, -180deg);
    }

    &__img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        max-width: 100%;
        top: 0;
        left: 0;

        &--no-img {
            object-fit: contain;
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        color: #fff;
        display: flex;
        align-items: flex-start;
        padding-bottom: 18px;
        min-height: 166px;

        @include media-breakpoint-down(lg) {
            margin: 0 auto;
        }

        @include media-breakpoint-down(md) {
            padding: 0;
            min-height: 110px;
        }

        &:before {
            width: 52px;  /* ширина в два раза меньше высоты, иначе получится полуовал */
            height: 101px;
            border-radius: 0 100% 100% 0 / 0 50% 50% 0;
            background: #ec1d24;
            display: inline-block;
            content: '';
            margin-right: 24px;
            margin-top: 9px;
            transition: ease-in-out .3s transform;

            @include media-breakpoint-down(md) {
                width: 40px;
                height: 80px;
                margin-right: 19px;
                margin-top: 5px;
            }
        }
    }
}