.contact {
	padding-top: 88px;
	padding-bottom: 102px;
	min-height: 940px;

	&__map {
		max-width: 100%;
		display: block;
	}

	&__headline {
		font-size: 18px;

		h2 {
			margin-bottom: 0;
		}

		p {
			&:last-child {
				margin-bottom: 24px;
			}
		}
	}

	&__group {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}

	&__nav {

		&:not(:last-child) {
			margin-right: 15px;
			margin-bottom: 10px;
		}
	}

	&__nav.ui-tabs-active &__link {
		background-color: #ff0000;
		color: white;
	}

	&__link {
		display: block;
		color: #ff0000;
		text-decoration: none;
		border: 1px solid red;
		padding: 0px 10px;
		border-radius: 3px;
		line-height: 24px;
		text-transform: uppercase;
	}

	&__tab {
		padding-top: 19px;
		font-size: 15px;
		border-bottom: 1px solid #d0c8c8;
	}

	&__content {
		display: none;
	}

	&__title {
		color: #545759;
		position: relative;
		line-height: 55px;
		font-size: 18px;
		border-top: 1px solid #d0c8c8;
		cursor: pointer;

		&:before, &:after {
			display: block;
			width: 15px;
			height: 15px;
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		&:before {
			background-image: url('./img/icon-plus.svg');
		}
		&:after {
			background-image: url('./img/icon-minus.svg');
		}
	}

	&__title.ui-accordion-header-active {
		color: #ff0000;
		&:before {
			display: none;
		}
	}

	&__address {
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		padding: 17px 0;
	}

	&__item {
		margin-bottom: 7px;
	}

	&__action {
		color: #545759;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		font-size: 14px;
	}

	&__icon {
		margin-right: 6px;
	}
}