.footer {

    &--white {
        padding: 55px 0 30px;

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }
    }

    &--copy {
        background-color: #ff0000;
        color: #fff;
        font-size: 14px;
        letter-spacing: -0.01em;
        padding: 3px 0;

        p {
            margin: 0;
            padding: 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 10px 0;
        }
    }

    &__logo {
        padding-right: 33px;
        flex-shrink: 0;

        @include media-breakpoint-down(lg) {
            padding-right: 20px;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            text-align: center;
            padding-bottom: 40px;
            padding-right: 0;
        }
    }
    
    &__logo-link {
        width: 100%;
        max-width: 128px;
        display: block;

        @include media-breakpoint-down(md) {
            margin: 0 auto;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    &__nav {
        align-self: flex-start;
        padding-left: 24px;
        font-size: 15px;
        letter-spacing: -0.05em;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 1;

        &:not(:last-child) {
            >ul {
                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 154px;
                    background-color: #545759;
                    position: absolute;
                    top: 0;
                    right: 0;

                    @include media-breakpoint-down(lg) {
                        height: 252px;
                    }

                    @include media-breakpoint-down(sm) {
                        height: 245px;
                    }
                }
            }
        }

        @include media-breakpoint-down(lg) {
            padding-left: 19px;
        }

        @include media-breakpoint-down(md) {
            &:nth-child(2) {
                padding-left: 0;
            }
            
            &:last-child {
                li {
                    padding-right: 0;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            padding-bottom: 30px;
            flex-grow: 1;
            
            &:nth-child(4) {

                > ul:after {
                    display: none;
                }

                li {
                    padding-right: 0;
                }
            }

            &:nth-child(5) {
                padding-left: 0;
                flex-grow: 0;

                > ul:after {
                    height: 138px;
                }
            }

            &:last-child {
                flex-grow: 0;

                li {
                    padding-right: 0;
                }
            }
        }

        @include media-breakpoint-down(xs) {
            width: 50%;
            padding-left: 0;

            &:not(:last-child) {

                >ul {
                    &:after {
                        display: none;
                    }
                }
            }

            > ul {
                li {
                    padding-left: 0;
                }
            }
        }
    }

    &__name {
        color: #545759;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 18px;
    }

    &__list, &>ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;

        &--two-columns {
            column-count: 2;

            @include media-breakpoint-down(md) {
                column-count: 1;
            }

            >li {
                width: 50%;
                padding-left: 5px;

                @include media-breakpoint-down(lg) {
                    width: auto;
                }

                @include media-breakpoint-down(md) {
                    padding-left: 0;
                }
            }
        }

        >li {
            padding-right: 30px;
            padding-bottom: 6px;

            @include media-breakpoint-down(md) {
                padding-right: 19px;
            }

            a {
                color: #545759;
                white-space: nowrap;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__copy-nav {
        display: flex;
        margin: 0;
        padding: 0;
        margin-left: 40px;
        list-style: none;

        >li {
            &:not(:last-child) {

                &:after {
                    content: '|';
                    display: inline-block;
                    margin: 0 12px;
                }
            }

            a {
                color: #fff;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            margin: 10px 0;
        }
    }
}
.footer-design {
    font-size: 14px;
    padding: 9px 0;

    &__text {
        margin: 0;
        margin-right: 5px;
    }

    &__img {
        display: block;
        max-width: 118px;
        height: auto;
    }
}