.hbspt-form {
    #label-email-459aa0ed-3e6f-4e58-9ae2-98bea4412cee {
        display: none;
    }
    fieldset {
        max-width: none;
        margin-bottom: 26px !important;
        > * {
            position: relative;
        }
    }
    .hs-error-msgs {
        color: #ff0000;
        margin: 0;
        list-style: none;
    }
    .form-columns-2 {
        margin: 0 -15px;
        max-width: none;
        > * {
            padding:  0 15px;
            position: relative;
        }
    }
    .input {
        margin-right: 0 !important;
    }
    .inputs-list {
        margin: 0;
        list-style: none;
        padding: 0;
    }
    .hs-dependent-field {
        margin-bottom: 13px;
    }
    .hs-form-booleancheckbox {
        position: relative;
    }
    input[type="checkbox"]+span {
        text-align: left !important;
        &:before {
            border: 1px solid #fff;
            border-radius: 3px;
        }
        &:before, &:after {
            display: block;
            width: 22px;
            height: 22px;
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            &:before {
                border-color: rgba(255,255,255,0.82);
            }
        }
    }
    input[type="checkbox"]:checked+span {
        &:after {
            content: '✓';
            color: #f00;
            text-align: center;
            font-size: 30px;
            left: 2px;
            transform: translateY(-125%);
        }
    }
    input[type="submit"] {
        padding: 5px 0 5px 20px;
        background-image: url(./img/bg-input-submit-red.svg);
        background-position: left;
        background-repeat: no-repeat;

        &:hover {
            opacity: 0.82 !important;
        }
    }
}