.lang {
    display: none;
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    left: 0;

    @include media-breakpoint-down(md) {
        position: fixed;
        top: 82px;
        z-index: 1;
        width: 100vw;
        left: 0;
        height: calc(100% - 120px);
        background-color: white;
        z-index: 99999;
        transform: none;
        overflow: auto;
    }

    &__container {
        padding: 71px 87px 50px;
        background-color: #fff;

        @include media-breakpoint-down(md) {
            background-color: transparent;
            padding: 9px 0 30px;
        }
    }

    &__title {
        letter-spacing: 0.015em;
        margin-bottom: 55px;

        @include media-breakpoint-down(md) {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.004em;
            padding: 0px 17px 10px;
            border-bottom: 1px solid #d8dbde;
            margin-bottom: 0;

            * {
                margin: 0;
            }
        }
    }

    &__btn {
        text-decoration: none;
        letter-spacing: 0.02em;

        @include media-breakpoint-down(md) {
            background-color: transparent;
            display: block;
            letter-spacing: -0.006em;
            display: block;
            padding: 8px 46px 1px;
            font-size: 14px !important;
            border-bottom: 1px solid #d8dbde;
        }
    }

    &__btn-icon {
        margin-right: 6px;
        width: 26px;
        height: 40px;

        @include media-breakpoint-down(md) {
            width: 16px;
            height: 26px;
        }
    }

    &__group {
        padding-top: 51px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);

        @include media-breakpoint-down(md) {
            padding: 7px 45px 0;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
        }
    }

    &__item {
        break-inside: avoid;
        grid-row-start: 1;
        grid-row-end: 3;

        @include media-breakpoint-down(md) {
            grid-row-start: auto;
            grid-row-end: auto;

            &:first-child {
                grid-column-start: span 2;
                border-bottom: 1px solid #d8dbde;
                padding-bottom: 10px;
                margin-bottom: 10px;

                .lang__list {
                    column-gap: 0;
                }
            }
        }

        &:nth-last-child(2) {
            grid-row-end: 2;

            @include media-breakpoint-down(md) {
                grid-row-end: auto;
            }
        }

        &:last-child {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;

            @include media-breakpoint-down(md) {
                grid-column-start: auto;
                grid-column-end: auto;
                grid-row-start: auto;
            }
        }
    }

    &__group-title {
        font-weight: 700;
        padding-bottom: 24px;

        @include media-breakpoint-down(md) {
            font-weight: 400;
            padding-bottom: 3px;
            font-size: 14px;
            border-bottom: 1px solid #d8dbde;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        margin-bottom: 22px;

        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }
    }

    &__icon-wrap {
        width: 21px;
        height: 21px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: 10px;

        @include media-breakpoint-down(md) {
            width: 18px;
            height: 18px;
        }
    }

    &__link-icon {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    &__link-country {
        letter-spacing: 0.02em;
    }

    &__list-item {
        display: block;

        @include media-breakpoint-down(md) {
            padding-top: 4px;
        }
    }
}