.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.nav {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    // padding: 18px 0 13px;
    font-weight: 500;

    .container {
        position: relative;
    }
    
    @include media-breakpoint-down(md) {
        padding: 20px 0px 17px 5px;
    }

    &__logo {
        padding-top: 5px;

        @include media-breakpoint-down(md) {
            max-width: 127px;
            padding-top: 1px;
        }
    }

    &__burger {
        width: 42px;
        height: 42px;
        border: none;
        background: none;
        padding: 0;

        &.toggled {
            .nav__burger-img--close {
                display: block !important;
            }
            .nav__burger-img--bars {
                display: none !important;
            }
        }
    }

    &__burger-img {
        display: block;
        width: 26px;
        height: 16px;

        &--close {
            display: none;
        }
    }

    .menu {
        @include media-breakpoint-down(md) {
            position: fixed;
            top: 82px;
            z-index: 1;
            width: 100vw;
            left: 0;
            height: calc(100% - 120px);
            background-color: white;
            z-index: 99999;
            transform: none;
            overflow: auto;
            display: none;
            color: #545759;
        }
    }

    &__list, ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #fff;

        @include media-breakpoint-down(md) {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            // transform: translateY(100%);
        }
    }

    ul.menu > li {

        &:hover {

            >ul {
                max-height: 600px !important;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }

        &.focus {

            @include media-breakpoint-down(md) {
                > a {
                    color: #f00;

                    i {
                        transform: rotate(90deg);
                    }
                }
            }

            > ul.sub-menu {
                @include media-breakpoint-down(md) {
                    display: block;
                    max-height: none;
                }
            }
        }

        > ul.sub-menu {
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            background-color: #fff;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            color: #545759;
            max-height: 0;
            overflow: hidden;
            transition: ease .5s;
            padding-left: 44px;
            padding-right: 44px;

            @include media-breakpoint-down(md) {
                position: static;
                display: none;
                transform: none;
                box-shadow: none;
                padding: 0 !important;
            }

            > li {

                > a {
                    font-weight: 700;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
                
                >ul {
                    position: static;
                    color: #545759;
                    padding-top: 33px;
                    font-size: 13px;

                    @include media-breakpoint-down(md) {
                        padding-top: 0;
                    }

                    > li {

                        &:not(:last-child) {
                            padding-bottom: 9px;

                            @include media-breakpoint-down(md) {
                                padding-bottom: 0;
                            }
                        }

                        a {
                            white-space: nowrap;

                            @include media-breakpoint-down(md) {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: auto;
                                padding: 9px 47px 3px;
                                border-bottom: 1px solid #545759;
                                padding: 11px 47px 7px;
                            }
                        }

                        > ul {
                            color: #545759;
                        }
                    }
                }
            }
        }

        &.wide {
            
            > ul {
                left: 0;
                width: calc(100% - 20px);
                margin-left: 10px;
                display: flex;
                padding-left: 166px !important;
                padding-right: 166px !important;

                @include media-breakpoint-down(xl) {
                    padding-left: 44px !important;
                    padding-right: 44px !important;
                }

                @include media-breakpoint-down(md) {
                    display: none;
                    padding: 0 !important;
                    width: auto !important;
                    margin: 0 !important;
                }

                > li {

                    &:first-child {
                        width: 64%;
                        padding-right: 34px;
                        border-right: 1px solid #545759;

                        @include media-breakpoint-down(md) {
                            width: auto;
                            padding: 0;
                            border: none;
                        }

                        > ul {
                            column-count: 2;

                            @include media-breakpoint-down(md) {
                                column-count: auto;
                            }
                        }
                    }

                    &:last-child {
                        width: 36%;
                        padding-left: 83px;
                        border-right: none !important;

                        @include media-breakpoint-down(md) {
                            width: auto;
                            padding: 0;
                            border: none;
                        }
                    }

                    > ul {

                        > li {
                            break-inside: avoid;

                            &:not(:last-child) {
                                padding-bottom: 38px;

                                @include media-breakpoint-down(md) {
                                    width: auto;
                                    padding: 0;
                                    border: none;
                                }
                            }

                            > a {
                                font-weight: 700;
                            }

                            > ul {
                                padding-top: 9px;

                                @include media-breakpoint-down(md) {
                                    padding: 0;
                                    position: static;
                                }

                                > li {
                                    padding-bottom: 9px;

                                    @include media-breakpoint-down(md) {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        > a {
            padding: 29px 19px;

            @include media-breakpoint-down(xl) {
                padding-left: 9px;
                padding-right: 9px;
            }

            @include media-breakpoint-down(md) {
                padding: 9px 47px 3px;
                border-bottom: 1px solid #545759;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    &__link, a {
        color: inherit;
        letter-spacing: 0.012em;
        word-spacing: 3px;

        &:hover {
            color: red;
        }
    }
}

.admin-bar .header {
    top: 32px;

    @media screen and (max-width: 782px) {
        top: 46px;
    }
}
