.partner {
    .hbspt-form {
        @include media-breakpoint-down(md) {
            text-align: left !important;
            padding: 5px !important;
        }
    }
    fieldset {
        @include media-breakpoint-down(md) {
            margin-bottom: 0 !important;
        }
        >* {
            @include media-breakpoint-down(md) {
                padding-bottom: 8px !important;
            }
        }
    }
    input:not([type="submit"]) {
        @include media-breakpoint-down(md) {
            width: 100% !important;
        }
    }
    label {
        @include media-breakpoint-down(md) {
            font-size: 13px;
        }
    }
    .actions {
        display: flex;
        justify-content: flex-end;
        @include media-breakpoint-down(md) {
            justify-content: center;
        }
    }
}