.section {
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    position: relative;
    min-height: 769px;
    color: #545759;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
        min-height: auto;
    }

    @include media-breakpoint-down(lg) {
        padding: 42px 0;
    }

    &--page-contact {
        min-height: 440px;
        padding-top: 150px;
        font-size: 23px;
    }

    &--page {
        min-height: 770px;
        padding-top: 150px;
        font-size: 23px;
        padding-bottom: 77px;
    }
    
    &--white {
        color: #fff;
    }

    &--red {
        min-height: auto;
        background-color: #ff0000;
    }

    &--hero {
        min-height: calc(100vh - 213px);
        // min-height: calc(100vh - 103px);
        margin-top: 38px;

        @include media-breakpoint-down(lg) {
            margin-top: 0;
        }

        @include media-breakpoint-down(md) {
            min-height: 388px;
            padding-top: 122px;
        }
    }

    &--info {
        padding: 37px 0 31px;

        @include media-breakpoint-down(md) {
            padding-top: 27px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &--advantages {
        padding: 110px 0 90px;
        
        @include media-breakpoint-down(md) {
            padding-top: 42px;
            padding-bottom: 43px;
        }
    }

    &--technologies {

        @include media-breakpoint-down(md) {
            min-height: 640px;
        }
    }

    &--locations {

        @include media-breakpoint-down(md) {
            padding-bottom: 65px;
        }
    }

    &--pro {
        padding-top: 162px;

        @include media-breakpoint-down(lg) {
            padding-top: 30px;
        }

        @include media-breakpoint-down(md) {
            padding-top: 43px;
            min-height: 641px;
        }
    }
    
    &--testimonials {
        padding: 96px 0;

        @include media-breakpoint-down(md) {
            padding: 42px 0 56px;
        }
    }

    &--whats-new {
        padding: 15px 0 100px;

        @include media-breakpoint-down(md) {
            padding-top: 51px;
            padding-bottom: 12px;
        }
    }

    &--subscribe {
        padding: 34px 0 33px;

        @include media-breakpoint-down(md) {
            padding-top: 26px;
            padding-bottom: 23px;
            min-height: 205px;
        }
    }
    
    &--partner {
        padding-top: 96px;

        @include media-breakpoint-down(md) {
            padding-top: 32px;
            text-align: center;
            min-height: 727px;
        }
    }

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.admin-bar .section--hero {
    min-height: calc(100vh - 240px);

    @include media-breakpoint-down(md) {
        min-height: 388px;
    }
}