.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 22px;
    padding-left: 26px;

    &__item {
        margin: 0 9px;
    }

    &__link {
        color: #fff;
        text-decoration: none;

        &:hover {
            opacity: .72;
        }
    }
}
