.subscribe {
    h2 {
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            margin-bottom: 7px;
        }
    }
    h3 {
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            letter-spacing: 0.03em;
            margin-bottom: 5px;
        }
    }
    .hs-error-msgs {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        color: #fff;
        white-space: nowrap;
    }
    .hbspt-form {
        padding-left: 23px;
    }
    .submitted-message {
        font-size: 23px;
    }
    form {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            display: block;
            padding-left: 0;
            width: 100%;
        }
    }
    input {
        min-width: 290px;
        padding: 5px 14px;
        letter-spacing: 0.03em;

        @include media-breakpoint-down(md) {
            min-width: 330px;
            padding: 3px 13px;
        }

        @include media-breakpoint-down(sm) {
            min-width: 100%;
        }
    }
    .actions {
        padding-left: 30px;

        @include media-breakpoint-down(md) {
            padding-left: 0;
            display: flex;
            justify-content: center;
            padding-top: 12px;
        }
    }
    input[type="submit"] {
        min-width: 0;
        color: #fff;
        background-image: url(./img/bg-input-submit-white.svg);
        background-position: left;
        background-repeat: no-repeat;
    }
}