.technologies {

    &--page {
        padding-top: 106px;
        padding-bottom: 52px;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
    
    &__container {
        padding-left: 42px;

        @include media-breakpoint-down(lg) {
            padding-left: 0;
        }
    }

    &__grid {
        margin: 110px -50px 0;

        @include media-breakpoint-down(lg) {
            margin: 60px -15px 0;
        }
    }

    &__item {
        width: 50%;
        display: flex;
        padding: 0 50px 70px;

        @include media-breakpoint-down(lg) {
            padding: 0 15px 30px;
        }

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    &__link {
        color: #545759;
        text-decoration: none;

        &:hover {
            color: #ff0000;
        }
    }

    &__filter {
        font-size: 18px;
    }

    &__select {
        width: 290px !important;
        border: 1px solid #e7e4e4;
        border-radius: 5px;
        margin-left: 12px;
    }

    &__img-wrap {
        width: 108px;
        height: 108px;
        flex-shrink: 0;
        object-fit: contain;
        object-position: center;

        img, svg {
            width: 100%;
            height: 100%;
            display: block;
        }

        @include media-breakpoint-down(md) {
            margin: 0 auto 30px;
        }
    }

    &__content {
        padding-left: 16px;

        p {
            line-height: 1.6;
            font-size: 18px;
        }

        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }

    &__title {
        margin-top: -2px;
        margin-bottom: 7px;
    }
}