.testimonials {

    &__swiper {
        padding-top: 35px;

        @include media-breakpoint-down(lg) {
            padding-top: 10px;
        }
    }

    &__slide {
        display: flex;

        @include media-breakpoint-down(lg) {
            display: block;
        }
    }

    &__img-wrap {
        flex-basis: 473px;
        width: 473px;
        height: 473px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        margin-left: 127px;
        position: relative;

        @include media-breakpoint-down(lg) {
            margin: 0 auto;
        }

        @include media-breakpoint-down(md) {
            width: 210px;
            height: 210px;
        }
    }

    &__img {
        filter: saturate(0);
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    &__content {
        padding-left: 50px;

        @include media-breakpoint-down(lg) {
            padding-left: 0;
            padding-top: 30px;
            text-align: center;
        }

        @include media-breakpoint-down(lg) {
            padding-top: 20px;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        padding-top: 26px;
        line-height: 1.4;
        font-size: 18px;

        @include media-breakpoint-down(lg) {
            display: inline-flex;
            text-align: left;
        }
        
        @include media-breakpoint-down(md) {
            align-items: flex-start;
            padding-top: 12px;
            font-size: 15px;
        }

        &>*:last-child {
            margin-bottom: 0;
        }
        
        &:before {
            width: 52px;
            height: 101px;
            border-radius: 0 100% 100% 0 / 0 50% 50% 0;
            background: #ec1d24;
            display: inline-block;
            content: '';
            margin-right: 22px;
            transition: .3s;

            @include media-breakpoint-down(md) {
                width: 19px;
                height: 37px;
                margin-right: 9px;
            }
        }
    }

    &__pagination {
        width: auto !important;
        left: 50% !important;
        padding-left: 50px;
        margin: 0 -6px;
        bottom: -7px !important;
        z-index: 1;

        @include media-breakpoint-down(lg) {
            bottom: -30px !important;
            padding-left: 0;
            transform: translateX(-50%);
        }

        @include media-breakpoint-down(md) {
            bottom: -56px !important;
        }
    }

    &__bullet {
        width: 11px;
        height: 11px;
        margin: 0 6px;
        display: inline-block;
        background: #c7cfd4;
        border-radius: 50%;
        cursor: pointer;

        &--active {
            background-color: #545759;
        }
    }
}