.top-bar {
    background-color: #b9c0c4;
    color: #000;
    font-weight: 500;
    padding: 7px 0 3px;
    letter-spacing: -0.03em;
    position: relative;
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
    }

    @include media-breakpoint-down(md) {
        
        &.toggled {
            position: fixed;
            bottom: 0;
            display: block;
            width: 100%;
            z-index: 1;
        }

        .container {
            justify-content: center !important;
            padding: 0;
        }
    }

    &__location {
        cursor: pointer;

        img {
            display: inline-block;
        }
    }

    &__nav {
        // margin: 0 -25px;
    }

    &__list,
    ul{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item,
    li{
        padding-left: 24px;
    }

    &__link,
    a{
        font-size: 1rem;
        line-height: 1.75;
        color: #000;
        text-decoration: none;

        &:hover {
            color: #f00;
        }
    }

    &__item--red &__link,
    .red a {
        color: #f00;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

#menu-lang {
    display: none;
}