.whats-new {

    &__item {
        padding-top: 33px;

        @include media-breakpoint-down(sm) {
            padding-top: 13px;
            padding-bottom: 9px;
            margin: 0 -10px;
            text-align: center;
        }
    }

    &__img-wrap {
        position: relative;
        display: block;

        @include media-breakpoint-down(sm) {
            height: 159px;
        }

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            display: block;
            background-color: rgba(0,0,0, 0.5);
            z-index: 1;
            top: 0;
            left: 0;
            transition: ease-in-out .3s background-color;
        }

        &:hover {
            &:before {
                background-color: rgba(0,0,0, 0.28);
            }
        }
    }

    &__img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        max-width: 100%;

        &--no-img {
            object-fit: contain;
        }
    }

    &__headline {
        padding: 24px 0 14px;

        @include media-breakpoint-down(sm) {
            padding: 12px 10px 1px;
        }

        * {
            margin: 0;
        }
    }

    &__title {
        font-weight: 500;
        text-decoration: none;
        color: inherit;

        @include media-breakpoint-down(sm) {
            padding: 0 10px;
            display: block;
        }

        &:hover {
            opacity: .2;
        }

        * {
            margin: 0;
        }
    }

    &__excerpt {
        max-height: 75px;
        overflow: hidden;
        margin-bottom: 6px;
        
        @include media-breakpoint-down(sm) {
            padding: 0 10px;
            font-size: 13px;
            max-height: 56px;
        }
    }
}